# Entorno virtual
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# macOS
.DS_Store

# Variables de entorno
.env

# Configuraciones locales
configs/local/

# Datos pesados / sensibles
data/raw/
data/interim/
data/processed/

# Outputs generados
outputs/
reports/

# Backup temporal de entorno Rosetta
.venv_rosetta_backup/

# Local environment lock snapshots
requirements_arm64_lock.txt
